.input {
    background-color: var(--gray);
    border: none;
    color: var(--brown);
    line-height: 1.5rem;
    padding: .2rem;
    padding-left: 1rem;
    width: 100%;
    height: 2rem;
    /* width: 300px; */
    border-radius: 15px;
    /* font-size: 1.2rem; */
}

.input:focus {
    outline: none;
    border: none;
    /* box-shadow: inset 0 0 10px 1px var(--color-btn-font-neutral); */
}