.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.form, .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form {
	width: 100%;
	height: 12dvw;
	// gap: 3rem;
}

.inputs {
	width: 100%;
	gap: 1rem;
	
}

.btns {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	align-items: center;
}

.pass {
  position: relative;
  width: 100%;
}

.pass > input {
  width: 100%;
}

.pass > button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-45%);
}

.icon {
    width: 1.5rem;
    height: 100%;
}

.inputs input {
	background-color: white;
  box-sizing: border-box;
}
