.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: var(--T1_blue);
  box-shadow: 0vw 0.1vw 0vw 0vw rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.cartIconWrapper {
  position: relative;
}

.cartBadge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff4d4d;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.searchInput {
  width: 45dvw;
  height: 4dvh;
  border-radius: 50px;
  border: 0px;
  background-color: var(--T1_grey_dark);
  padding-left: 10px;
}

lanel {
  display: none;
}