.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .wrapper {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  .wrapper input{
    background-color: white;
  }
  