.post {
  height: 80dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.mainWrapper {
  display: flex;
}

.photoBlock {
  height: inherit;
  width: 30dvw;
}

.addContent {
  width: 60dvw;
}

.photo {
  height: inherit;
  width: inherit;
}

.addContent {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.mapDiv {
  width: '800px';
  height: '100%';
}

.oneLine {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.ownerName {
  display: flex;
  align-items: center;
  gap: .5rem;
}


.icon {
  width: 1.5rem;
  height: auto;
}

.topNaming {
  gap: .8rem;
  display: flex;
  font-size: 1rem;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 5rem;
  padding-right: 5rem;
}

.marginTop {
  margin-top: 3rem;
}

h1 {
  margin-top: 2.57rem;
}