.adminPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.container {
background-color: var(--T1_grey_dark);
padding: 30px;
border-radius: 50px;
display: flex;
flex-direction: column;
}

.line {
    height: 30px;
}
